.caixa {
    background-color: #ffff;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

.caixa h2 {
    color: #ad416b;
}

.caixa p {
    line-height: 1.6;
}

.foto {
    display: block;
    margin: 20px auto;
    border: 4px solid transparent;
}

.foto:hover {
    border: 4px solid #d81b60;
}

.voltar {
    text-align: center;
    margin: 30px;
}

.voltar a {
    color: #c2185b;
    text-decoration: none;
}

.voltar a:hover {
    color: #880e4f;
    text-decoration: underline;
}